/* 
    Created on : 25.04.2014, 12:53:33
    Author     : Jens Deters
*/

/*
------------------------------ C O M M O N S ------------------------------
*/
.root {
    -fx-font-family: "OCR A Std";
    -fx-base: rgb(61,61,63);
    -fx-background: rgb(61,61,63);
    -fx-text-base-color: rgb(244,244,246);
    -fx-accent: rgb(25, 157, 120);
    -icons-color: gray;
    -fx-font-weight: normal;

}

.button, .toggle-button{
    -fx-font-size: 2em;
    -fx-background-color: null;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
}

.button:pressed, .toggle-button:pressed{
    -icons-color: radial-gradient(center 50% 100%, radius 120%,  #ffffff 35%, derive(#ffffff, -15%) 50%);
    -fx-focus-color: -fx-background;
    -fx-background-color: #ffffff,#2e2e2e;
    -fx-background-insets: 0,4;
    -fx-font-weight: bold;
}

.button .text, .toggle-button .text{
    /*   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 2 , 2 );*/
}


.toggle-button:selected{
    -icons-color: radial-gradient(center 50% 100%, radius 120%,  #fefefe 35%, #e1e1e1 50%);
    -fx-text-fill: yellowgreen;
}

/*
------------------------------ S P E C I A L S ------------------------------
*/



.base-pane{
    -fx-background-color: #2e2e2e;
}

.gpio-label{
    -fx-font-size: 2em;
}

.button-control{
    -fx-padding: 0 0 0 0;
    -fx-background-color: #444444,#2e2e2e;
    -fx-background-insets: 0,4;
}
.button-control:selected{
    -fx-background-color: #888888,#2e2e2e;
    -fx-background-insets: 0,4;
}

.button-exit{
    -icons-color: firebrick;
    -fx-background-color: null;
}

.button-exit:pressed{
    -icons-color: orangered;
    -fx-background-color: gray;
}

.awesome{
    -fx-font-family:  FontAwesome;
    -fx-text-fill: -icons-color;
}

.top-bottom-pane{
    -fx-background-color: #1e1e1e;
}

.app-title{
    -fx-font-size: 3em;
    -fx-text-fill: yellowgreen;
}

.app-version{
    -fx-font-size: 1em;
}
.app-author{
    -fx-font-size: 1em;
}


